@font-face {
    font-family: 'Manrope';
    src: url('path/to/font/Manrope-Regular.ttf') format('truetype');
}

html,body{
    height: 100%;
    width: 100%;
    background-color: #FDF2E6;
}

.space-between{
    justify-content: space-between;
}

ul{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 25rem;
}


.rotated-text {
    transform: rotate(90deg);
}


.proximo{
    background-color:#403D79;
    width: 15%;
    height: 10rem;
    font-size: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius:1rem;
    position: absolute;
    top: 38rem;
    font-family: 'Manrope', sans-serif;
}

.anterior{
    background-color:#403D79;
    width: 15%;
    height: 10rem;
    font-size: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius:1rem;
    position: absolute;
    top: 1rem;
    font-family: 'Manrope', sans-serif;
}

.concluir {
    border: 1px;
    position: absolute;
    background-color:#EC8989;
    width: 10%;
    height: 7rem;
    top: 40rem;
    right: 3rem;
    text-align: center;
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius:1rem;
    font-family: 'Manrope', sans-serif;

}

.flashcards{
    background-color: white;
    top: 13rem;
    width: 54%;
    height: 23rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 3rem;
    font-size: 6rem;
    font-family: 'Manrope', sans-serif;
    position: absolute;
}

.flashcards-verso{
    background-color: white;
    top: 13rem;
    width: 54%;
    height: 23rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 3rem;
    font-family: 'Manrope', sans-serif;
    position: absolute;
    
}

.flashcards a {
    font-size: 2rem;
    color:black;
    text-decoration: none; 
}

.flashcards-verso a {
    font-size: 1.5rem;
    color:black;
    text-decoration: none; 
    text-align: center;
}

.proximo a {
    color: #FDF2E6;
    text-decoration: none; 
}

.concluir a {
    color: #FDF2E6;
    text-decoration: none; 
}

.anterior a {
    color: #FDF2E6;
    text-decoration: none; 
}

.facil{
    border: 1px;
    position: absolute;
    background-color: #91CA83;
    width: 23%;
    height: 3.3em;
    top: 10rem;
    left: 0rem;
    text-align: center;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:1rem;
    font-family: 'Manrope', sans-serif;
    color: white;

}

.medio{
    border: 1px;
    position: absolute;
    background-color: #F0CE76;
    width: 23%;
    height: 3.3em;
    top: 22.5rem;
    left: 0rem;
    text-align: center;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:1rem;
    font-family: 'Manrope', sans-serif;
    color: white;

}

.dificil{
    border: 1px;
    position: absolute;
    background-color: #EC8989;
    width: 23%;
    height: 3.3em;
    top: 35rem;
    left: 0rem;
    text-align: center;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:1rem;
    font-family: 'Manrope', sans-serif;
    color: white;

}