@font-face {
    font-family: 'Manrope';
    src: url('path/to/font/Manrope-Regular.ttf') format('truetype');
}

body, html {
height: 100%;
margin: 0;
padding: 0;
background-color: #FDF2E6;
}

main {
position: relative;
justify-content: center;
display: flex;
height: 100%;
background-color: #403D79;
width: 70%;
border-top-right-radius: 7%;
border-bottom-right-radius: 
7%;
}

ul {
    right: 0;
    display: flex;
    margin-right: 3rem;
    align-items: flex-end;
    flex-direction: column;
    font-family: 'Manrope', sans-serif;
    margin-top: 8rem;
    text-decoration: none;
}

.texto {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    font-size: 3.5rem;
    margin: 0.5rem;
    margin-top: 8rem;
    text-decoration: none;

}

.texto img {
    margin-right: 0.5rem;
}

.texto:hover {
    text-decoration: underline;
 }

.home{
    position: absolute;
    left: 0;
    top: 0;
    width: 4rem;
    height: 4rem;
    margin: .5rem;
}