@font-face {
    font-family: 'Manrope';
    src: url('path/to/font/Manrope-Regular.ttf') format('truetype');
  }
li{
    font-family: 'Manrope', sans-serif;
    font-size: 1.25rem;
    font-weight: bold;
    align-items: center;
}

ul{
  align-items: center;
}

