@font-face {
    font-family: 'Manrope';
    src: url('path/to/font/Manrope-Regular.ttf') format('truetype');
}

html,body{
    height: 100%;
    width: 100%;
    background-color: #FDF2E6;
}

header{
    position: relative;
    flex-direction: column;
    width: 100%;
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #403D79;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    font-size: 3rem;
    font-family: 'Manrope', sans-serif;
    font-weight: bold;
}

.rosa{
background-color: #BC8DEB;
}

.roxo{
background-color: #403D79;
}

.vermelho{
background-color: #EC8989;
}

.amarelho{
background-color:#F0CE76;
}

.azul{
background-color: #90C3FE;
}

.verde{
background-color: #91CA83;
}

.violeta{
background-color: #8F65E8;
}
.coluna{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.resultados{
    position:relative;
    display:flex;
    color:black;
    text-decoration:none;
    flex-direction: column;
    margin: 10rem;
    width: 27rem;
    background-color: white;
    border-radius: 1.5rem;
    font-family: 'Manrope', sans-serif;
    transform: scale(1.8);
}
h1{
    color:white;
    margin-top:1rem;
    font-family: 'Manrope', sans-serif;
}
.hamb{
    position: absolute;
    left: 0;
    top: 0;
    height: 5rem;
    transform: scale(1.4);
}
p{
    font-family: 'Manrope', sans-serif;
}

img{
    margin:1rem;
    width:2rem;
    height:2rem;
}
.linha{
    display:flex;
    flex-direction:row;
}
.disciplinas{
    margin-top: 5rem;
    font-size: 3rem;
    font-family: 'Manrope', sans-serif;
    font-weight:bold;
    color:#403D79;
}
.proximo{
    padding-right:2rem;
    padding-left: 2rem;
    background-color:#CBC3C3;
    border: 0.1rem solid #CBC3C3;
    border-radius:2rem;
    color:white;
    text-decoration:none;
    font-family: 'Manrope', sans-serif;
}
.proximo:hover{
    border: 0.1rem solid #EC8989;
    background-color: #EC8989;
}
.margin{
    margin: 6rem;
    transform: scale(4.5);
}
.anotacao_e_troca{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin:6rem;
    padding:0.3rem;
    width: 20rem;
    border:0.1rem solid #403D79;
    background-color: #403D79;
    border-radius: 1rem;
    color:white;
    text-decoration:none;
    font-family: 'Manrope', sans-serif;
    transform: scale(2.5);
}
.linha_reversa{
    display:flex;
    flex-direction: row-reverse;
}
input[type="text"] {
    margin-top: 5rem;
    margin-bottom:3rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
    box-sizing: border-box;
    width: 20rem;
    padding: 0.5rem;
    border:0.1rem solid white;
    border-radius:1rem;
    font-family: 'Manrope', sans-serif;
    transform: scale(2.5);
    }
figure{
    display:flex;
    flex-direction:row;
    align-items: center;
    margin:0.5rem;
}
.opcoes{
    display:flex;
    flex-direction: row;
    align-items: center;
}
.resumo{
    margin-bottom: 0.6rem;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size:2rem;
    color:white;
    border:0.1rem solid #EC8989;
    background-color: #EC8989;
    padding:0.3rem;
    width: 26.3rem;
    border-radius: 1rem;
    font-family: 'Manrope', sans-serif;
}
.espacamento{
    margin:0.5rem;
}
.espacamento2{
    margin-top:1.5rem;
    margin-bottom:5rem;
    transform: scale(2.5);
}
.espacamento3{
    margin-bottom:0.5rem;
}
h2{
    margin:3rem;
    font-size:3rem;
    color:#403D79;
    font-family: 'Manrope', sans-serif;
    font-weight: bold;
}
.linha{
    display: flex;
    flex-direction: row;
}
.perfil{
    margin:15rem;
    border-radius: 7rem;
    transform: scale(3);
}
.disciplinas2{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin:7.5rem;
    background-color:#F0CE76;
    color:#403D79;
    padding:1rem;
    border-radius:1rem;
    font-family: 'Manrope', sans-serif;
    font-weight: bold;
    transform:scale(2.5)
    
}
.setas{
    display:flex;
    flex-direction: column;
    margin-right:1.5rem;
}
.rotacao{
    transform: rotate(180deg);
  }
.estrelas{
    margin:1rem;
    width:4rem;
    height:4rem;
}
.seta_direita{
    margin:1rem;
    width:5rem;
    height:5rem;
}
.seta_esquerda{
    margin:1rem;
    width:5rem;
    height:5rem;
    transform: rotate(180deg);
}
.espacamento4{
    transform: scale(3);
    margin:7rem;
}



   

