html,body{
    height: 100%;
    width: 100%;
    background-color: #FDF2E6;
}
.coluna{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header{
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #403D79;
    border:0.1rem solid #403D79;
    padding:1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius:1rem;
}
.buscar{
    display:flex;
    color:black;
    text-decoration:none;
    flex-direction: row;
    justify-content: space-between;
    margin:1rem;
    padding:0.3rem;
    width: 20rem;
    border:0.1rem solid white;
    background-color: white;
    border-radius: 1rem;
}
h1{
    font-size:2rem;
    color:white;
    margin-top:1rem;
}
.hamb{
    position: absolute;
    left: 0;
    top: 0;
    width: 4rem;
    height: 4rem;
    margin: .5rem;
}
p{
    margin-top: 1rem;
}

img{
    margin-left:1rem;
}
.linha{
    display:flex;
    flex-direction:row;
}
.disciplinas{
    font-size: 1.2rem;
}
.proximo{
    padding-right:2rem;
    padding-left: 2rem;
    background-color:#CBC3C3;
    border: 0.1rem solid #CBC3C3;
    border-radius:2rem;
    color:white;
    text-decoration:none;
}
.margin{
    margin-top: 3rem;
}